<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Answer">
	<insert id="insertAnswer">
		INSERT INTO answer (id, content) 
		VALUES (#{id}, #{content});
		UPDATE question 
		SET answer_id=#{id} 
		WHERE id=#{id};
	</insert>
	<update id="updateAnswer">
		UPDATE answer 
		SET content=#{content} 
		WHERE id=#{id}
	</update>
	<delete id="deleteAnswer">
		DELETE FROM answer WHERE id=#{aid};
		UPDATE question SET answer_id=1 WHERE id={qid};
	</delete>
	<select id="getAnswer" resultType="answer">
		SELECT * FROM answer WHERE id=#{id}
	</select>
	<select id="getAnswerList" resultType="answer">
		SELECT * FROM answer ORDER BY id DESC
	</select>
</mapper>